/* Couleurs chaudes */
:root {
  --primary-color: #1cd9b3;
  --secondary-color: #1cd9b3;
  --background-color: #FDFDFD;
}

body {
  background-color: var(--primary-color);
}

/* Style du chat */
.chat-container {
  margin: 50px auto;
  width: 500px;
  border-radius: 20px;
  /* border-radius: 50px; */
  background: #1cd9b3;
box-shadow:  20px 20px 60px #18b898,
           -20px -20px 60px #20face;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.chat-header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-message {
  align-self: flex-end;
  max-width: 60%;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  animation: slide-in-right 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bot-message {
  align-self: flex-start;
  max-width: 60%;
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  animation: slide-in-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(20%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-20%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* @keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */




.chat-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.chat-footer input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-footer button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box {
  overflow-y: scroll;
  scrollbar-width: none; /* Masque la barre de défilement */
  -ms-overflow-style: none; /* Masque la barre de défilement pour Edge et IE */
}

.chat-box::-webkit-scrollbar {
  width: 0px; /* Masque la barre de défilement pour Chrome, Safari et Opera */
}


/* Gestion des boutons */

.adultButton {
  display: none;
}

.collegueButton {
  display: none;
}

.adoButton {
  display: none;
}

.familleButton {
  display: none;
}